.header-books{
    background-color: black;
}
.navbar {
    margin-bottom: 0px;
}

.drop-down-toggle{
    cursor: pointer;
}
.user-profile{
    font-size: 24px;
    color: black;
    padding: 10px;
}

.user-profile-background{
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #428bca;
    border-radius: 50%;
}
#menu{
    position: absolute;
    width: 130px;
    right: 36px;
    background-color: black;
}
.profile-li{
    margin: 20px 0;
    list-style: none;
    cursor: pointer;
}

.profile-li:hover{

    cursor: pointer;
}

a:hover {
    text-decoration: none;
}
