.card {
    box-shadow: 0  10px  20px  rgba(0,0,0,0.19), 0  6px  6px  rgba(0,0,0,0.23);
}


.text-center{
  background-image:  url(/assets/images/landing-page-books.jpg);  
  background-repeat: no-repeat;
  background-position: center-top;
  height: 300px;
  background-size: contain;
}
.login-heading{
  margin-top: -20px;
}
.login-form{
  padding-top: 20px;
}
.row-details{
  padding: 100px;
}

.forget-register-link{
  display: block;
  cursor: pointer;
}

.link-color{
  color: #428bca;
}

.color-gold {
cursor: pointer;
}
a:hover {
  text-decoration: none;
}